<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/moment.js"></script>
        <script src="/moment-timezone.js"></script>
        <title>Byggepladsvideoer</title>
        <style>
            #player {
                margin-left: 10px;
                margin-right: 10px;
                border: 1px solid black;
                min-height: 300px;
            }
            li {
                color: blue;
                text-decoration: underline;
                cursor: pointer;
                margin-bottom: 5px;
            }
            .hide {
                display: none;
                visibility: hidden;
            }
        </style>
    </head>
    <body>
        <div class="container mt-4">
            <div class="row gx-4">
                <div class="col">
                    <h1>Byggepladsvideoer</h1>
                </div>
            </div>
            <div class="row gx-4">
                <div class="col">
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <div class="row gy-4 gx-4">
                <div class="col-xl-8 col-l-8 col-md-12">
                    <div id="player" class="hide"></div>
                    <img src="" id="pictureframe" class="hide" style="width: 100%">
                </div>
                <div class="col-xl-4 col-l-4 col-md-12">
                    <p>
                        Vælg en dato for at vise videoer og billeder. Første billede og video er  
                        fra 6. november 2023. Vælges en dato vises de videoer og billeder, 
                        der er tilgængelig som links herunder og passer til datoen. Klik på 
                        link for hhv. video eller billede for at se video eller billede.
                    </p>
                    <label for="dateselect">Date:</label>
                    <input type="date" id="dateselect" name="dateselect" class="mb-4" />
                    <div id="media"></div>
                </div>
            </div>
        </div>

        <script>
            // get date from url or set to current date
            const path = document.location.pathname;
            let strdate;
            if (path.match(/\/\d{4}-\d{2}-\d{2}/)) {
                strdate = path.substring(1);
                strdate = `${strdate.substring(0, 4)}-${strdate.substring(5, 7)}-${strdate.substring(8, 10)}`;
            } else {
                const d = new Date();
            }
            strdate = `${d.getFullYear()}-${d.getMonth() + 1 < 10 ? `0${d.getMonth() + 1}` : d.getMonth() + 1}-${d.getDate()}`;
            document.getElementById("dateselect").setAttribute("value", strdate);

            // click handler for videos
            const elemMedia = document.getElementById("media");
            elemMedia.addEventListener("click", (e) => {
                const clickElem = e.target.childNodes[0];
                const clickText = clickElem.textContent;
                const filename = clickText.indexOf(".mp4") > 0 ? clickText : clickElem.parentNode.getAttribute("rel");

                const elemPictureFrame = document.getElementById("pictureframe");
                const elemPlayer = document.getElementById("player");

                if (filename.indexOf(".jpg") > 0) {
                    // picture
                    elemPictureFrame.classList.remove("hide");
                    elemPlayer.classList.add("hide");
                    elemPictureFrame.src = `/picture/${filename}`;
                } else {
                    // video
                    elemPictureFrame.classList.add("hide");
                    elemPlayer.classList.remove("hide");
                    const player = elemPlayer.innerHTML = `
            <video id="videoPlayer" width="100%" controls autoplay muted playsinline preload="metadata">
                <source id="videoSource" src="/video/${filename}" type="video/mp4" />
            </video>`;
                }

                // scroll to top
                window.scrollTo(0,0);
            });

            const loadContentForDate = async (strdate) => {
                const elem = document.getElementById("media");
                const videos = await loadVideosForDate(strdate);
                const pictures = await loadPicturesForDate(strdate);
                if (!(videos.length + pictures.length)) {
                    return elem.innerHTML = "Ingen filer fundet for dato.";
                }

                let content = "<ul>";
                for (let i=0; i<videos.length; i++) content += `<li>${videos[i]}</li>`
                for (let i=0; i<pictures.length; i++) {
                    const displaydt = moment.utc(pictures[i].substring(9, 24), "YYYYMMDD-HHmmss").tz("Europe/Copenhagen").format("DD/MM-YYYY HH:mm");
                    content += `<li rel="${pictures[i]}">${displaydt}</li>`
                }
                content += "</ul>";
                elem.innerHTML = content;
            }

            const loadVideosForDate = async (strdate) => {
                console.log(`Loading videos for <${strdate}>`);
                const res = await fetch(`/videos/${strdate}`);
                const body = await res.json();
                return body.files || [];
                
            };

            const loadPicturesForDate = async (strdate) => {
                console.log(`Loading pictures for <${strdate}>`);
                const res = await fetch(`/pictures/${strdate}`);
                const body = await res.json();
                return body.files || [];
            };

            // listen for date selects
            document.getElementById("dateselect").addEventListener("change", async (ev) => {
                const date = ev.target.valueAsDate;
                const strdate = `${date.getFullYear()}-${date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1}-${
                    date.getDate() < 10 ? "0" + date.getDate() : date.getDate()
                }`;
                document.location.href = `/${strdate}`;
            });

            // load videos
            loadContentForDate(strdate);
        </script>
    </body>
</html>
